{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}
    <div class="container_global_input wrapper">
        <h1 class="hight_title text_black">Modification de votre profil</h1>
        <div class="center_input">
        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="button_connexion">Enregistrer les modifications</button>
        {{form_end(myForm)}}
    </div>
    </div>
{% endblock %}