<div class="footer">
    <h2 class="text text_white middle_title">Copyright Discopics - RW - @EPSE 2022</h2>
    <div class="footer_link">
        <a href="#">Politique de confidentialité</a> |
        <a href="#">Condition d'utilisation</a>
    </div>
    <img id="logoRomeoFooter" src="../../../images/logo-rw-white.png" alt="logo">
</div>