<div class="footer">
    <h2 class="text text_white middle_title">Copyright Discopics - RW - @EPSE 2022</h2>
    <div class="footer_link">
        <a href="{{path('terms_of_use')}}">{% trans %}Privacy policy{% endtrans %}</a> |
        <a href="{{path('privacy')}}">{% trans %}Terms of use{% endtrans %}</a>
    </div>
    <img id="logoRomeoFooter" src="../../../images/logo-rw-white.png" alt="logo">
</div>