<nav>
	<ul class="margin_nav">
		<li>
		<div id="logoMenu">
			<img id="logoImage" src="../images/discopicslogo_white.svg" alt="logo_Menu">
		</div>
		</li>
		<li class="anim_underline"><a href="#">Home</a></li>
		<li class="anim_underline"><a href="#">Recherche</a></li>
		<li class="anim_underline"><a href="#">Découvrir</a></li>
	</ul>
    <ul class="connexionZone">
        <li class="anim_underline"><a href="#">Connexion</a></li>
		<li class="anim_underline"><a href="#">Inscription</a></li>
    </ul>
</nav>
<div id="burger">
	<div class="bar ligneH"></div>
	<div class="bar ligneM"></div>
	<div class="bar ligneB"></div>
</div>
<div class="menuBurger">
	<div class="containerMenuBurger">
		<a href="#" class="lienMenuBurger">Home</a>
		<a href="#" class="lienMenuBurger">Recherche</a>
		<a href="#" class="lienMenuBurger">Découvrir</a>
	</div>
</div>



