.container_global_input{
    min-height: 75vh;
}
.container_global_input_search{
    min-height: 60vh;
}
.container_global_input_search_top{
    min-height: 45vh;
}
.container_global_input h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.container_global_input_search h1,.container_global_input_search_top h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.container_global_input label{
    margin-top: 25px;
    color: black;
}
.container_global_input_search label,.container_global_input_search_top h1{
    margin-top: 25px;
}

.global_input{
    width: 50vw;
    height: 30px;
    margin: 15px 0;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid #7B5644;
    display: block;
}

@media all and (max-width: 500px){
    .global_input{
        width: 75vw;
    }
}

.global_input:focus{
    outline: none;
}

.center_input{
    width: fit-content;
    margin: 0 auto;
}

#registration_bird, #modification_account_bird{
    border: none;
}

.global_input #registration_bird_year,.global_input #registration_bird_day,.global_input #registration_bird_month,.global_input #modification_account_bird_year,.global_input #modification_account_bird_day,.global_input #modification_account_bird_month{
    width: auto;
    background: transparent;
    border: none;
    border-bottom: solid 2px #7B5644;
    margin-right: 15px;
}
.global_input #registration_bird_year:focus,.global_input #registration_bird_day:focus,.global_input #registration_bird_month:focus,.global_input #modification_account_bird_year:focus,.global_input #modification_account_bird_day:focus,.global_input #modification_account_bird_month:focus{
    outline: none;
}

form ul{
    padding: 0;
}

form ul li{
    color: #d9534f;
    list-style: none;
}

.special_button_img{
   display: none;
}

.avatar_label{
    background-color: #7B5644;
    color: white!important;
    padding: 10px;
    border-radius: 10px;
}
.avatar_label:hover{
    cursor: pointer;
}

.special_input_file{
    border-bottom: none;
    
}


