.container_profile{
    min-height: 75vh;
}
.container_profile h1{
    text-align: center;
    margin-top: 25px;
}

.personal_infos_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.personal_infos_container img, .size_img_profile{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

@media all and (max-width: 500px){
    .personal_infos_container img, .size_img_profile{
        width: 150px;
        height: 150px;
        text-align: center;
    }
}
.personal_infos_container .personal_infos{
    color: black;
}
.personal_infos_container .personal_infos h3, .personal_infos_container .personal_infos h2{
    text-align: center;
}

.anonyme_profile{
    object-fit: contain!important
}

#marginBottomSearch{
    margin-bottom: 75px;
}

