.container_page{
    width: 100%;
    min-height: 50vh;
}

.big_img_show{
    width: auto;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.meta_photo{
    text-align: center;
}

.title_photo{
    margin-top: 25px;
    margin-bottom: 10px;
}

.rating_2x i{
    font-size: 2em;
    color: gold;
}

.margin_button{
    margin-top: 20px;
}

.container_comment{
    background-color: #7BA05B;
    width: 100%;
    height: fit-content;
    margin: 20px 0;
    display: flex;
}


.container_comment img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 25px;
}
.container_content_comment{
    margin: 25px;
    text-align: left;
}

.container_content_comment .name_and_date{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.container_content_comment .name_and_date h4{
    margin-left: 20px;
}

@media all and (max-width: 700px){
    .container_comment{
        display: block;
    } 
    .container_content_comment{
       text-align: center;
       padding-bottom: 50px;
    }
    .container_content_comment .name_and_date{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }
    .container_comment img{
        height: 75px;
        margin-bottom: 0;
    }
}

.delete_publication{
    background-color: #d9534f;
}

.buttons_edit_delete_comment{
    display: flex;
    justify-content: left;
    width: 100%;
}
.buttons_edit_delete_comment a{
    color: #F9F1E0;
}
.buttons_edit_delete_comment a::after{
    content : '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #F9F1E0;
    margin-top: -15px;
}
.buttons_edit_delete_comment #edit_comment{
    margin-right: 50px;
}

@media all and (max-width: 700px){
    .buttons_edit_delete_comment{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .buttons_edit_delete_comment #edit_comment{
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .buttons_edit_delete_comment #delete_comment{
        margin-left: 10px;
    }
}

.fa-heart{
    color: #d9534f;
    font-size: 2em;
    margin-top: 25px;
}

.rect_hover_publication{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.rect_hover_publication a{
    color: #7BA05B;    
}
.rect_hover_publication #margin_right_publication{
    margin-right: 25px;
}
.rect_hover_publication #margin_left_publication{
    margin-left: 25px;
}

@media all and (max-width: 700px){
    .rect_hover_publication #margin_right_publication{
        text-align: center;
        width: 100%;
        margin-right: 0;
    }
    .rect_hover_publication #margin_left_publication{
        text-align: center;
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
}

.images_container_publication, .images_container_publication_for_phone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.images_container_publication_for_phone{
    display :none;
}
.images_container_publication_for_phone .container_infos_publication_img{
    color: #7BA05B;
    text-align: center;
}

@media all and (max-width: 1200px){
    .images_container_publication{
        display:none;
    }
    
    .images_container_publication_for_phone{
        display:flex;
    }    
}



.container_size_img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 20px;
}
.container_size_img .container_hover_img{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-top: -270px;
    background-color: #7ba05baa;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    cursor: pointer;
}
.container_size_img .container_hover_img:hover{
    opacity: 1;
}
.container_size_img .container_hover_img .container_infos_publication_img{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    text-align: center;
}
.container_size_img .container_hover_img .container_infos_publication_img a{
    color: white;
}
.container_zoom_galerie{
    width: 75%;
    height: 75%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.81);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.zoom_galerie{
    position: fixed;
    width: 85%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.zoom_galerie img{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    height: 100%;
    margin:0 ;
    width: auto;
}
.container_zoom_galerie .close_img{
    background-color: #7BA05B;
    padding:0 10px;
    top: 10px;
    right: 10px;
    position: absolute;
    font-size: 2em;
    color: #7B5644;
}
.container_zoom_galerie .close_img:hover{
    cursor: pointer;
}


