<div class="container_pagination">
    <ul>
        <li class="arrow {% if page == 1 %}disabled{% endif %}" >
            <a href="{{path(route,{'page': page - 1})}}">&laquo;</a>
        </li>
        {% for i in 1..pages %}
        <li class="{% if page == i %}activeLink{% endif %}">
            <a href="{{path(route,{'page':i})}}">{{i}}</a>
        </li>
        {% endfor %}
        <li class="arrow {% if page == pages %}disabled{% endif %}">
            <a href="{{path(route,{'page': page + 1})}}">&raquo;</a>
        </li>
    </ul>
</div>