{% extends 'base.html.twig' %}

{% block title %}{% trans %}Find a spot{% endtrans %}{% endblock %}

{% block body %}
    <div class="container_global_input_search wrapper">
        <h1 class="hight_title text_black" id="marginBottomSearch">{% trans %}Find your ideal spot{% endtrans %}</h1>
        <div class="center_input">
        {{form(myForm)}}
    </div>
    </div>
    <div class="container_img">
        {% if publications %}
            {% for publication in publications %}
                {% include 'publication/_publication.html.twig'%}
            {% endfor %}
        {% else %}
                <h3 class="middle_title text_black">{% trans %}No spot matches your search{% endtrans %}</h3>
        {% endif %}
    </div>
        
{% endblock %}
