{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container text_black">
        <h1 class="text-center mt-3 mb-3">Politique de confidentialité</h1>
        <h2 class="mt-3 mb-3">Objet</h2>

       <p class="mt-1 mb-1">La présente politique est établie par SearchFestival située Avenue ______, 96 à _____, reprise sous le numéro d’inscription 0000000000 (ci-après dénommée « le responsable du traitement).</p>
       <p class="mt-1 mb-1">L’objet de la présente politique est d’informer les visiteurs du site web hébergé à l’adresse www.barestho.com (ci-après dénommé le « site web ») de la manière dont les données sont récoltées et traitées par le responsable du traitement.</p>
       <p class="mt-1 mb-1">La présente politique s’inscrit dans le souhait du responsable du traitement, d’agir en tout transparence, dans le respect de ses dispositions nationales et du règlement (UE) 2016/679 du Parlement Européen et du conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données et abrogeant la directive 95/46/CE (ci-après dénommé le « règlement général sur la protection des données »).</p>
       <p class="mt-1 mb-1">Le responsable du traitement porte une attention particulière à la protection de la vie privée de ses utilisateurs et s’engage par conséquent à prendre les précautions raisonnables requises pour protéger les données à caractère personnel récoltées contre la perte, le vol, la divulgation ou l’utilisation non autorisée.</p>
       <p class="mt-1 mb-1">Les « données à caractère personnel » sont définies comme toutes les données à caractère personnel qui concernent l’utilisateur. C’est à dire toute information qui permet de l’identifier directement ou indirectement en tant que personne physique. Si l’utilisateur souhaite réagir à l’une des pratiques décrites ci-après, il peut contacter le responsable de traitement à l’adresse postale ou à l’adresse e-mail précisées au point « données de contact » de la présente politique.</p>

        <h2 class="mt-3 mb-3">Quelles données collectons-nous ?</h2>

        <p class="mt-1 mb-1">Les responsables du traitement recueillent et traitent, selon les modalités et principes décrits ci-après, les données à caractère personnel suivantes :</p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">Son domaine (détecté automatiquement par le serveur du responsable du traitement), y compris l’adresse IP dynamique.</li>
                <li class="mt-1 mb-1">L’ensemble de l’information concernant les pages que l’utilisateur a consultées sur le site web.</li>
                <li class="mt-1 mb-1">Toute information que l’utilisateur a donné volontairement, par exemple en complétant le formulaire de contact.</li>
                <li class="mt-1 mb-1">Il est possible que le responsable du traitement soit également amené à récolter des données à caractère non personnel. Ces données sont qualifiées de données à caractère non personnel car elles ne permettent pas d’identifier directement ou indirectement une personne en particulier. Elles pourront dès lors être utilisées à quelques fins que ce soit, par exemple pour améliorer le site web, les produits et services proposés ou les publicités du responsable du traitement. </li>
            </ul>
        </p>
        <p class="mt-1 mb-1">Dans l’hypothèse ou des données à caractère non personnel seraient combinées à des données à caractère personnel, de sorte qu’une identification des personnes concernées serait possible, ces données seront traitées comme des données à caractère personnel jusqu’à ce que leur rapprochement avec une personne particulière soit rendu impossible.</p>

        <h2 class="mt-3 mb-3">Méthodes de collecte</h2>

        <p class="mt-1 mb-1">Le responsable du traitement récolte les données à caractère personnel lorsque l’utilisateur complète le formulaire de contact.</p>

        <h2 class="mt-3 mb-3">Finalité du traitement</h2>

        <p class="mt-1 mb-1">Les données à caractère personnel ne sont recueillies et traitées qu’aux seules fins mentionnées ci-dessous :</p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">Assurer la gestion et le contrôle de l’exécution des services proposés.</li>
                <li class="mt-1 mb-1">Envoi et suivi des commandes et facturations.</li>
                <li class="mt-1 mb-1">Envoi d’informations promotionnelles sur les produits et services du responsable du traitement.</li>
                <li class="mt-1 mb-1">Envoi de matériel promotionnel.</li>
                <li class="mt-1 mb-1">Répondre aux questions de l’utilisateur.</li>
                <li class="mt-1 mb-1">Réaliser des statistiques.</li>
                <li class="mt-1 mb-1">Améliorer la qualité du site web et des produits et services du responsable du traitement.</li>
                <li class="mt-1 mb-1">Transmettre des informations sur des nouveaux produits et services du responsable du traitement.</li>
                <li class="mt-1 mb-1">En vue d’actions de prospection commerciales.</li>
            </ul>
        </p>
        <p class="mt-1 mb-1">Le responsable du traitement pourrait être amené à effectuer des traitements qui ne sont pas encore prévus dans la présente politique. Dans ce cas, il contactera l’utilisateur avant de réutiliser ses données à caractère personnel afin de lui faire connaître les changements et lui donner la possibilité, le cas échéant, de refuser cette réutilisation.</p>

        <h2 class="mt-3 mb-3">Intérêts légitimes</h2>

        <p class="mt-1 mb-1">Certains traitements effectués par le responsable de traitement sont fondés sur la base légale des intérêts légitimes de celui-ci. Ces intérêts légitimes sont proportionnés par rapport au respect des droits et libertés de l’utilisateur. SI l’utilisateur souhaite être informé du détail des finalités fondées sur la base légale des intérêts légitimes, il lui est recommandé de prendre contact avec le responsable de traitement (voir point relatif aux « données de contact »).</p>

        <h2 class="mt-3 mb-3">Durée de conservation</h2>

        <p>De manière générale, le responsable du traitement ne conserve les données à caractère personnel que pendant le temps raisonnablement nécessaire aux finalités poursuivies et en accord avec les exigences légales et réglementaires.</p>
        <p>Les données à caractère personnel d’un client sont conservées au maximum 10 ans après la fin de la relation contractuelle qui lie ce client au responsable du traitement.</p>
        <p>Au terme de l’écoulement de la période de conservation, le responsable du traitement met tout en œuvre pour s’assurer que les données personnelles ont bien été rendues indisponibles et inaccessibles.</p>

        <h2 class="mt-3 mb-3">Application des droits</h2>

        <p>Pour tous les droits repris ci-après, le responsable de traitement se réserve le droit de vérifier l’identité de l’utilisateur pour l’application des droits repris ci-après.</p>
        <p>Cette demande d’information supplémentaire se fera dans un délai d’un mois à partir de l’introduction de la demande par l’utilisateur.</p>

        <h2 class="mt-3 mb-3">Accès aux données et copie</h2>

        <p class="mt-1 mb-1">L’utilisateur peut obtenir gratuitement la communication écrite ou une copie des données à caractère personnel le concernant qui ont été recueillies.</p>
        <p class="mt-1 mb-1">Le responsable du traitement peut exiger le paiement de frais raisonnables basés sur les coûts administratifs pour toute copie supplémentaire demandée par l’utilisateur. Lorsque l’utilisateur introduit cette demande par voie électronique, les informations sont fournies sous une forme électronique d’usage courant à moins que l’utilisateur ne demande qu’il en soit autrement.</p>
        <p class="mt-1 mb-1">Sauf exception prévue par le règlement général sur la protection des données, la copie de ses données sera communiquée à l’utilisateur au plus tard dans le mois après la réception de la demande.</p>

        <h2 class="mt-3 mb-3">Droit de rectification</h2>

        <p class="mt-1 mb-1">L’utilisateur peut obtenir gratuitement, dans les meilleurs délais et au plus tard dans un délai d’un mois, la rectification de ses données à caractère personnel qui seraient inexactes, incomplètes ou non pertinentes ainsi que les compléter si elles s’avèrent incomplètes.</p>
        <p class="mt-1 mb-1">Sauf exception prévue par le règlement général sur la protection des données, la demande d’application du droit à la rectification est traitée dans le mois de l’introduction de celle-ci.</p>

        <h2 class="mt-3 mb-3">Droit de s’opposer au traitement</h2>

        <p class="mt-1 mb-1">L’utilisateur peut à tout moment, pour des raisons tenant à sa situation particulière, s’opposer gratuitement au traitement de ses données à caractère personnel lorsque :</p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">Le traitement est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont serait investi le responsable du traitement.</li>
                <li class="mt-1 mb-1">Le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel.</li>
            </ul>
        </p>
        <p class="mt-1 mb-1">Le responsable du traitement pourra refuser de mettre en œuvre le droit d’opposition de l’utilisateur lorsqu’il établit l’existence de motifs impérieux et légitimes justifiant le traitement, qui priment les intérêts ou les droits et les libertés de l’utilisateur, ou pour la constatation, l’exercice ou la défense d’un droit en justice. En cas de contestation, l’utilisateur peut introduire un recours conformément au point « réclamation et plainte » de la présente politique.</p>
        <p class="mt-1 mb-1">L’utilisateur peut également, à tout moment, s’oppose, sans justification et gratuitement, au traitement des données à caractère personnel le concernant lorsque ses données sont collectées à des fins de prospection commerciale.</p>
        <p class="mt-1 mb-1">Lorsque des données à caractère personnel sont traitées à des fins de recherche scientifique ou historique ou à des fins statistiques conformément au règlement général sur la protection des données, l’utilisateur a le droit de s’opposer, pour des raisons tenant à sa situation particulière, au traitement de données à caractère personnel le concernant, à moins que le traitement ne soit nécessaire à l’exécution d’une mission d’intérêt public.</p>
        <p class="mt-1 mb-1">Sauf exception prévue par le règlement général sur la protection des données, le responsable du traitement est tenu de répondre à la demande de l’utilisateur dans les meilleurs délais et au plus tard dans un délai d’un mois et de motiver sa réponse lorsqu’il a l’intention de ne pas donner suite à une telle demande.</p>

        <h2 class="mt-3 mb-3">Droit à la limitation du traitement</h2>

        <p class="mt-1 mb-1">L’utilisateur peut obtenir la limitation du traitement de ses données à caractère personnel dans les cas énumérés ci-après : </p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">Lorsque l’utilisateur conteste l’exactitude d’une donnée et uniquement le temps que le responsable du traitement puisse contrôler celle-ci. </li>
                <li class="mt-1 mb-1">Lorsque le traitement est illicite et que l’utilisateur préfère la limitation du traitement à l’effacement.</li>
                <li class="mt-1 mb-1">Lorsque, bien que n’étant plus nécessaire à la poursuite des finalités du traitement, l’utilisateur en a besoin pour la constatation, l’exercice ou a défense de ses droits en justice.</li>
                <li class="mt-1 mb-1">Pendant le temps nécessaire à l’examen du caractère fondé d’une demande d’opposition introduite par l’utilisateur, en d’autres termes le temps que le responsable du traitement procède à la vérification de la balance des intérêts entre les intérêts légitimes du responsable du traitement et ceux de l’utilisateur.</li>
            </ul>
        </p>
        <p class="mt-1 mb-1">Le responsable du traitement informera l’utilisateur lorsque la limitation du traitement est levée.</p>

        <h2 class="mt-3 mb-3">Droit à l’effacement (droit à l’oubli)</h2>

        <p class="mt-1 mb-1">L’utilisateur peut obtenir l’effacement des données à caractère personnel le concernant, lorsque l’un des motifs suivants s’applique :</p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">Les données ne sont plus nécessaires au regard des finalités du traitement.</li>
                <li class="mt-1 mb-1">L’utilisateur a retiré son consentement à ce que ses données soient traitées et il n’existe par d’autre fondement juridique au traitement.</li>
                <li class="mt-1 mb-1">L’utilisateur s’oppose au traitement et il n’existe pas de motif légitime impérieux pour le traitement et/ou l’utilisateur exerce son droit spécifique d’opposition en matière de marketing direct.</li>
                <li class="mt-1 mb-1">Les données à caractère personnel ont fait l’objet d’un traitement illicite.</li>
                <li class="mt-1 mb-1">Les données à caractère personnel doivent être effacées pour respecter une obligation légale (du droit de l’union ou du droit de l’État membre) auquel le responsable du traitement est soumis.</li>
                <li class="mt-1 mb-1">Les données à caractère personnel ont été collectées dans le cadre de l’offre de services de la société de l’information qui s’adressent aux enfants. </li>
            </ul>
        </p>
        <p class="mt-1 mb-1">L’effacement des données n’est toutefois pas applicable dans les cas suivants :</p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">Lorsque le traitement est nécessaire à l’exercice du droit à la liberté d’expression et d’information.</li>
                <li class="mt-1 mb-1">Lorsque le traitement est nécessaire pour respecter une obligation légale qui requiert le traitement prévu par le droit de l’union ou par le droit de l’État membre auquel le responsable du traitement est soumis, ou pour exécuter une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont serait investi le responsable.</li>
                <li class="mt-1 mb-1">Lorsque le traitement est nécessaire pour des motifs d’intérêts publics dans le domaine de la santé publique.</li>
                <li class="mt-1 mb-1">Lorsque le traitement est nécessaire à des fins archivistiques dans l’intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques et pour autant que le droit à l’effacement soit susceptible de rendre impossible ou de compromettre gravement la réalisation des objectifs du traitement en question.</li>
                <li class="mt-1 mb-1">Lorsque le traitement est nécessaire à la constatation, à l’exercice ou à la défense de droits en justice.</li>
            </ul>
        </p>
        <p class="mt-1 mb-1">Sauf exception prévue par le règlement général sur la protection des données, le responsable du traitement est tenu de répondre à la demande de l’utilisateur dans les meilleurs délais et au plus tard dans un délai d’un mois et de motiver sa réponse lorsqu’il a l’intention de ne pas donner de suite à une telle demande. </p>

        <h2 class="mt-3 mb-3">Droit à la « portabilité des données »</h2>

        <p class="mt-1 mb-1">L’utilisateur peut à tout moment, demander de recevoir gratuitement ses données à caractère personnel dans un format structuré, couramment utilisé et lisible par machine, en vue notamment de les transmettre à un autre responsable du traitement lorsque le traitement de données est effectué à l’aide de procédés automatisés et lorsque le traitement est fondé sur le consentement de l’utilisateur ou sur un contrat conclu entre ce dernier et le responsable du traitement. </p>
        <p class="mt-1 mb-1">Dans les mêmes conditions et selon les mêmes modalités, l’utilisateur a le droit d’obtenir du responsable du traitement que les données à caractère personnel le concernant soient transmises directement à un autre responsable du traitement de données à caractère personnel, pour autant que cela soit techniquement possible.</p>
        <p class="mt-1 mb-1">Le droit à la portabilité des données ne s’applique pas au traitement qui est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont serait investi le responsable du traitement.</p>

        <h2 class="mt-3 mb-3">Destinataires des données et divulgation à des tiers</h2>

        <p class="mt-1 mb-1">Les destinataires des données récoltées et traitées sont, outre le responsable du traitement lui-même, ses préposés ou autre sous-traitants, ses partenaires commerciaux sélectionnés avec soin, situés dans l’union européenne, et qui collaborent avec le responsable du traitement dans le cadre de la commercialisation de produits ou de la fourniture de services.</p>
        <p class="mt-1 mb-1">Dans l’hypothèse ou les données seraient divulguées à des tiers à des fins de marketing direct ou de prospection commerciale, l’utilisateur en sera préalablement informé de manière à pouvoir choisir d’accepter le transfert de ses données à des tiers.</p>
        <p class="mt-1 mb-1">Dès lors que ce transfert est basé sur le consentement de l’utilisateur, celui-ci peut, à tout moment, retirer son consentement pour cette finalité précise.</p>
        <p class="mt-1 mb-1">Le responsable du traitement respecte les dispositions légales et réglementaires en vigueur et veillera dans tous les cas à ce que ses partenaires, préposés, sous-traitants ou autres tiers ayant accès à ces données à caractère personnel respectent la présente politique.</p>
        <p class="mt-1 mb-1">Le responsable de traitement divulgue les données à caractère personnel de l’utilisateur dans l’hypothèse où une loi, une procédure judiciaire ou un ordre d’une autorité publique rendrait cette divulgation nécessaire.</p>
        <p class="mt-1 mb-1">Aucun transfert de données à caractère personnel hors de l’union européenne n’est effectué par le responsable du traitement.</p>

        <h2 class="mt-3 mb-3">Sécurité</h2>

        <p class="mt-1 mb-1">Le responsable du traitement met en œuvre les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité du traitement et des données récoltées au regard des risques présentés par le traitement et de la nature des données à protéger adapté au risque. Il tient compte de l’état des connaissances, des coûts de mise en œuvre et de la nature, de la portée, du contexte et des finalités du traitement ainsi que des risques pour les droits et libertés des utilisateurs.</p>
        <p class="mt-1 mb-1">Le responsable du traitement utilise toujours les technologies de cryptage qui sont reconnues comme les standards industriels au sein du secteur IT quand il transfert ou reçoit les données sur le site web.</p>
        <p class="mt-1 mb-1">Le responsable du traitement a mis en place des mesures de sécurité appropriées pour protéger et éviter la perte, l’usage abusif ou l’altération des informations reçues sur le site web.</p>
        <p class="mt-1 mb-1">Dans le cas où les données à caractère personnel que le responsable de traitement contrôle devraient être compromises, il agira rapidement afin d’identifier la cause de cette violation et prendre les mesures de remédiation adéquates.</p>
        <p class="mt-1 mb-1">Le responsable de traitement informe l’utilisateur de cet incident si la loi l’y oblige.</p>

        <h2 class="mt-3 mb-3">Réclamation et plainte</h2>

        <p class="mt-1 mb-1">Si l’utilisateur souhaite réagir à l’une des pratiques décrites dans la présente politique, il est conseillé de contacter directement le responsable de traitement.</p>
        <p class="mt-1 mb-1">L’utilisateur peut également introduire une réclamation auprès de son autorité nationale de contrôle dont les coordonnées sont reprises sur le site officiel de la commission européenne : http://ec.europa.eu/newsroom/article29/item-detail.cfm?item_id=612080.</p>
        <p class="mt-1 mb-1">En outre, l’utilisateur a la possibilité de porter plainte devant les juridictions nationales compétentes.</p>

        <h2 class="mt-3 mb-3">Données de contact</h2>

        <p class="mt-1 mb-1">Pour toute question et/ou réclamation relative à la présente politique, l’utilisateur peut contacter le responsable du traitement :</p>
        <p class="mt-1 mb-1">
            <ul class="secondary__text">
                <li class="mt-1 mb-1">E mail : search@festival.com</li>
                <li class="mt-1 mb-1">Courrier : Rue _____, 59 à _________</li>
            </ul>
        </p>

        <h2 class="mt-3 mb-3">Modification</h2>

        <p class="mt-1 mb-1">Le responsable du traitement se réserve le droit de modifier à tout moment les dispositions de la présente politique. Les modifications seront publiées directement sur le site web du responsable de traitement.</p>

        <h2 class="mt-3 mb-3">Droit applicable et juridiction compétente</h2>

        <p class="mt-1 mb-1">La présente politique est régie par le droit national du lieu d’établissement principal du responsable du traitement.</p>
        <p class="mt-1 mb-1">Tout litige relatif à l’interprétation ou l’exécution de la présente politique sera soumis aux juridictions de ce droit national.</p>
        <p class="mt-1 mb-1">La présente version de la politique date du premier décembre 2019.</p>
    </div>

{% endblock %}