{% extends 'base.html.twig' %}

{% block title %}{% trans %}Privacy Policy{% endtrans %}{% endblock %}

{% block body %}
<div class="container text_black">
        <h1 class="text-center mt-3 mb-3">{% trans %}Privacy Policy{% endtrans %}</h1>
        <h2 class="mt-3 mb-3">{% trans %}Data collection and protection{% endtrans %}</h2>

       <p class="mt-1 mb-1">{% trans %}Your data is collected by Discopics. Personal data means any information relating to an identified or identifiable natural person (data subject); is deemed to be identifiable a person who can be identified, directly or indirectly, in particular by reference to a name, an identification number or to one or more specific elements, specific to his physical, physiological, genetic, psychic, economic, cultural or social. The personal information that may be collected on the site is mainly used by the publisher for the management of relations with you, and if necessary for the processing of your requests. The personal data collected is as follows:{% endtrans %} 
       
       <ul class="secondary__text">
       <li class="mt-1 mb-1">{% trans %}firstname and lastname{% endtrans %}</li>
       <li class="mt-1 mb-1">{% trans %}e-mail address{% endtrans %}</li>
       </ul>
       </p>

       <h2 class="mt-3 mb-3">{% trans %}Right of access, rectification and delisting of your data{% endtrans %}</h2>
       <p class="mt-1 mb-1">{% trans %}In application of the regulations applicable to personal data, users have the following rights:{% endtrans %}
       <ul class="secondary__text">
            <li class="mt-1 mb-1">{% trans %}the right of access: they can exercise their right of access, to know the personal data concerning them, by writing to the following email address romeo.wilmart@gmail.com. In this case, before the implementation of this right, the Platform may request proof of the user's identity in order to verify its accuracy;{% endtrans %}</li>
            <li class="mt-1 mb-1">{% trans %}the right of rectification: if the personal data held by the Platform is inaccurate, they can request that the information be updated;{% endtrans %}</li>
            <li class="mt-1 mb-1">{% trans %}the right to delete data: users can request the deletion of their personal data, in accordance with applicable data protection laws;{% endtrans %}</li>
            <li class="mt-1 mb-1">{% trans %}the right to limit processing: users can ask the Platform to limit the processing of personal data in accordance with the assumptions provided for by the GDPR;{% endtrans %}/li>
            <li class="mt-1 mb-1">{% trans %}the right to object to the processing of data: users can object to their data being processed in accordance with the assumptions provided for by the GDPR{% endtrans %}</li>
            <li class="mt-1 mb-1"> {% trans %}the right to portability: they can request that the Platform give them the personal data they have provided to transmit them to a new Platform.{% endtrans %}</li>
       </ul>
       {% trans %}You can exercise this right by contacting us at the following email address: romeo.wilmart@gmail.com.
       All requests must be accompanied by a photocopy of a valid, signed identity document and mention the address at which the publisher can contact the applicant. The response will be sent within one month of receipt of the request. This one-month period may be extended by two months if the complexity of the request and/or the number of requests so requires.{% endtrans %}
       
       </p>

       <h2 class="mt-3 mb-3">{% trans %}Data usage{% endtrans %}</h2>
       <p class="mt-1 mb-1">{% trans %}The personal data collected from users is intended to provide the services of the Platform, to improve them and to maintain a secure environment. The legal basis of the processing is the execution of the contract between the user and the Platform. Specifically, the uses are as follows:{% endtrans %}
       <ul class="secondary__text">
            <li class="mt-1 mb-1">{% trans %}implementation of assistance for requests or questions posed by the use{% endtrans %}</li>
       </ul>
       </p>

        <h2 class="mt-3 mb-3">{% trans %}Data retention policy{% endtrans %}</h2>
       <p class="mt-1 mb-1">{% trans %}The Platform keeps your data for the duration necessary to provide you with its services or assistance. To the extent reasonably necessary or required to meet legal or regulatory obligations, resolve disputes, prevent fraud and abuse, or enforce our terms and conditions, we may also retain some of your information as necessary, even after you have closed your account. or that we no longer need to provide our services to you.{% endtrans %}</p>

        <h2 class="mt-3 mb-3">{% trans %}Applicable law{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}Any dispute in connection with the use of the site https://discopics.romeowilmart.be is subject to Belgian law. Except in cases where the law does not allow it, exclusive jurisdiction is given to the competent courts of Belgium.{% endtrans %}</p>

        <h2 class="mt-3 mb-3">{% trans %}contact us{% endtrans %}</h2>

        <p class="mt-1 mb-1">{% trans %}For any question, information on the products presented on the site, or concerning the site itself, you can leave a message at the following address: romeo.wilmart@hotmail.fr{% endtrans %}</p>
    </div>

{% endblock %}