{% extends 'base.html.twig' %}

{% block title %}{% trans %}Terms of use{% endtrans %}{% endblock %}

{% block body %}
<div class="container text_black">
        <h1 class="text-center mt-3 mb-3">{% trans %}Terms of use{% endtrans %}</h1>

        <h2 class="mt-3 mb-3">{% trans %}Website{% endtrans %}</h2>
        <p class="mt-1 mb-1">https://discopics.romeowilmart.be</p>

        <h2 class="mt-3 mb-3">{% trans %}Editor{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}Email: romeo.wilmart@gmail.com{% endtrans %}</p>
        
        
        <h2 class="mt-3 mb-3">{% trans %}Host{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}Discopics is hosted by O2switch{% endtrans %}</p>
        
        
        <h2 class="mt-3 mb-3">{% trans %}Access to the site{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}Access to the site and its use are reserved for strictly personal use. You agree not to use this site and the information or data contained therein for commercial, political, advertising purposes and for any form of commercial solicitation and in particular the sending of unsolicited e-mails.{% endtrans %}</p>
        
        
        <h2 class="mt-3 mb-3">{% trans %}Content of the site{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}All trademarks, photographs, texts, comments, illustrations, animated or still images, video sequences, sounds, as well as all computer applications that could be used to operate this site and more generally all elements reproduced or used on the site are protected by the laws in force under intellectual property. They are the full and entire property of the publisher or its partners. Any reproduction, representation, use or adaptation, in any form whatsoever, of all or part of these elements, including computer applications, without the prior written consent of the publisher, is strictly prohibited. The fact that the publisher does not initiate proceedings upon becoming aware of these unauthorized uses does not constitute acceptance of said uses and waiver of prosecution.{% endtrans %}</p>
        
        
        <h2 class="mt-3 mb-3">{% trans %}Site management{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}For the proper management of the site, the publisher may at any time: - suspend, interrupt or limit access to all or part of the site, reserve access to the site, or to certain parts of the site, to a specific category of Internet users; - delete any information that could disrupt its operation or contravene national or international laws; - suspend the site in order to carry out updates.{% endtrans %}</p>
        
        
        <h2 class="mt-3 mb-3">{% trans %}Responsibilities{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}The responsibility of the publisher cannot be engaged in the event of failure, breakdown, difficulty or interruption of operation, preventing access to the site or to one of its functionalities. The site connection equipment you use is your sole responsibility. You must take all appropriate measures to protect your equipment and your own data, in particular from viral attacks via the Internet. You are also solely responsible for the sites and data that you consult.
        The publisher cannot be held responsible in the event of legal proceedings against you:{% endtrans %}
        
        <ul class="secondary__text">
            <li class="mt-1 mb-1">{% trans %}due to the use of the site or any service accessible via the Internet{% endtrans %}</li>
            <li class="mt-1 mb-1">{% trans %}due to your failure to comply with these terms and conditions.{% endtrans %}</li>
        </ul>

        {% trans %}The publisher is not responsible for any damage caused to you, to third parties and/or to your equipment as a result of your connection or your use of the site and you renounce any action against him as a result.
        If the publisher were to be the subject of an amicable or legal procedure because of your use of the site, it may turn against you to obtain compensation for all damages, sums, convictions and costs that may arise from this procedure.{% endtrans %}
        </p>

        <h2 class="mt-3 mb-3">{% trans %}Hypertext links{% endtrans %}</h2>
        <p class="mt-1 mb-1">{% trans %}The establishment by users of any hypertext links to all or part of the site is authorized by the publisher. Any link must be removed at the publisher's request. Any information accessible via a link to other sites is not published by the publisher. The publisher has no rights to the content present in said link.{% endtrans %}</p>

    </div>

{% endblock %}
