@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');


html, body{
    background-color: #F9F1E0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.footer{
    margin-top: 25px;
    background-color: #7B5644;
    min-height: 20vh;
    width: 100%!important;
}



.container-fluid-special{
    padding: 0;
}

.space-admin{
    margin-bottom: 50vh;
}

.bg-dark, .btn-dark{
    background-color: #7B5644!important;
    border-color: #7B5644!important;
}

.bg-primary, .btn-primary{
    background-color: #7BA05B!important;
    border-color: #7BA05B!important;
}
.hight_title{
    font-size: 2.5rem;
    font-weight: 900;
    margin: 15px 0;

}
@media all and (max-width: 700px){
    .hight_title{
        font-size: 2em;
    }
}
.text_black{
    color: black;
    font-weight: 900;
}

.table{
    --bs-table-hover-color: #7B5644;
}

.table-hover{
    color:#7B5644;
}

.pagination li .active{
    background-color: #7B5644!important;
    color: #7B5644!important;
}

.wrapper{
    width: 85%;
    margin: 0 auto;
}

.wrapper_nav{
    width: 90%;
    margin: 0 auto;
}

.container_special{
    min-height: 75vh;
}
.table{
    margin-top: 25px;
}
.container_flash .alert{
    border-radius: 10px;
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
}
.container_flash .bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #7B5644;
}
.container_flash p{
    margin: 0;
}

.alert-success{
    background-color: #7BA05B;
}

.dropdown-menu{
    background-color: #7BA05B;
}

.page-item:focus{
    color: #7B5644;
}
.page-item:hover{
    background-color: #7B5644;
}

.container_pagination{
    width: auto;
    height: 50px;
    margin-top: 50px;
}
.container_pagination ul{
    display: flex;
    justify-content: center;
    height: 100%;
}
.container_pagination ul li{
    list-style: none;
    background-color: #7BA05B;
}
.container_pagination ul .disabled a{
    pointer-events: none;
    color: #f9f1e085;
}
.container_pagination ul .activeLink{
    background-color: #7B5644;
}
.container_pagination ul li:hover{
    background-color: #7B5644;
}
.container_pagination ul .arrow{
    list-style: none;
    background-color:#7B5644
}
.container_pagination ul li a{
    padding: 0 20px;
    color: #F9F1E0;
    list-style: none;
    text-decoration: none;
    line-height: 50px;
}