{% extends 'base.html.twig' %}

{% block title %}Discopics{% endblock %}

{% block body %}
    <div class="home_section">
        <div class="home_section_img">
            <div class="opacity_color">
                <div class="title"><div class="title_img"></div></div>
            </div>
            <img src="../images/scroll_down.gif" alt="scroll_down">
        </div>

        <div class="text_zone wrapper">
            <h1 class="text text_black hight_title">{% trans %}Welcome to Discopics{% endtrans %}</h1>
            <h2 class="text text_black middle_title">{% trans %}Discopics will help you find beautiful places for your photoshoot or take beautiful photos in beautiful landscapes.{% endtrans %}</h2>
            <h3 class="text text_black middle_title">{% trans %}Want to find spots in a specific location ?{% endtrans %}</h3>
            <a href="{{ path('search_posts') }}">
            <div class="button">
                <p>{% trans %}Search{% endtrans %}</p>
            </div>
            </a>
            <h3 class="text text_black middle_title">{% trans %}Want to find spots near you ?{% endtrans %}</h3>
            <div class="button">
                <p>{% trans %}Discover{% endtrans %}</p>
            </div>
            <h3 class="text text_black middle_title">{% trans %}Discover the best spots{% endtrans %}</h3>
        </div>

        <div class="category_zone wrapper">
            
            <div class="container_img">
                 {% for data in publications %}
                    {% include 'publication/_publication.html.twig' with {'publication': data.publication} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
