{% extends 'base.html.twig' %}

{% block title %}Discopics{% endblock %}

{% block body %}
    <div class="home_section">
        <div class="home_section_img">
            <div class="opacity_color">
                <div class="title"><div class="title_img"></div></div>
            </div>
            <img src="../images/scroll_down.gif" alt="scroll_down">
        </div>

        <div class="text_zone wrapper">
            <h1 class="text text_black hight_title">Bienvenue sur Discopics</h1>
            <h2 class="text text_black middle_title">Discopics va vous aider à trouver de beaux endroits pour vos photoshoot ou réaliser de magnifiques photo dans de beau paysages.</h2>
            <h3 class="text text_black middle_title">Vous voulez trouver des spots dans un endroit en particulier ?</h3>
            <div class="button">
                <p>Recherche</p>
            </div>
            <h3 class="text text_black middle_title">Vous voulez trouver des spots près de chez vous?</h3>
            <div class="button">
                <p>Découvrir</p>
            </div>
            <h3 class="text text_black middle_title">Découvrez les meilleurs spots</h3>
        </div>

        <div class="category_zone wrapper">
            <h3 class="text text_black middle_title">Categorie 1</h3>
            <div class="container_img">
                <div class="line">
                    <div class="rect"></div>
                    <div class="rect"></div>
                    <div class="rect"></div>
                </div>
                <div class="line">
                    <div class="rect"></div>
                    <div class="rect"></div>
                    <div class="rect"></div>
                </div>
            </div>
            <h3 class="text text_black middle_title">Categorie 2</h3>
            <div class="container_img">
                <div class="line">
                    <div class="rect"></div>
                    <div class="rect"></div>
                    <div class="rect"></div>
                </div>
                <div class="line">
                    <div class="rect"></div>
                    <div class="rect"></div>
                    <div class="rect"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
