{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid spaceAuth mt-3 container-fluid-special"></div>
        <div class="row wrapper">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-title">{% trans %}You have{% endtrans %} {{stats.users}} {% trans %}registered users{% endtrans %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-hotel fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <div class="card-title">{% trans %}You have{% endtrans %} {{stats.publications}} publications</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="text-center space-admin">
        <a href="{{path('admin_users_index')}}" class="mt-3 mb-3 btn btn-primary text-center">{% trans %}See all users{% endtrans %}</a>
        <a href="{{path('admin_publications_index')}}" class="mt-3 mb-3 btn btn-dark text-center"> {% trans %}See all posts{% endtrans %}</a>
    </div>
{% endblock %}
